<div class="card mt-1">
    <DxMenu Title="Smart Building Visualization"
            ItemsPosition="ItemPosition.Start">
        <Items>
            <DxMenuItem Text="Hlavní stránka" BeginGroup="true" NavigateUrl="dashboard" />
            <DxMenuItem Text="Grafy" BeginGroup="true" NavigateUrl="visualization" />
        </Items>
    </DxMenu>
</div>